CPR/Service References/CPRWebService/CPRService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cpr.mbwarez.dk/CPRService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://cpr.mbwarez.dk/CPRService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cpr.mbwarez.dk/CPRService">
      <s:element name="RetrieveCPR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveCPRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveCPRResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetrieveCPRGender">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="gender" type="tns:Gender" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Gender">
        <s:restriction base="s:string">
          <s:enumeration value="Male" />
          <s:enumeration value="Female" />
        </s:restriction>
      </s:simpleType>
      <s:element name="RetrieveCPRGenderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveCPRGenderResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveCPRSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveCPR" />
  </wsdl:message>
  <wsdl:message name="RetrieveCPRSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveCPRResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveCPRGenderSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveCPRGender" />
  </wsdl:message>
  <wsdl:message name="RetrieveCPRGenderSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveCPRGenderResponse" />
  </wsdl:message>
  <wsdl:portType name="CPRServiceSoap">
    <wsdl:operation name="RetrieveCPR">
      <wsdl:input message="tns:RetrieveCPRSoapIn" />
      <wsdl:output message="tns:RetrieveCPRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCPRGender">
      <wsdl:input message="tns:RetrieveCPRGenderSoapIn" />
      <wsdl:output message="tns:RetrieveCPRGenderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CPRServiceSoap" type="tns:CPRServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveCPR">
      <soap:operation soapAction="http://cpr.mbwarez.dk/CPRService/RetrieveCPR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCPRGender">
      <soap:operation soapAction="http://cpr.mbwarez.dk/CPRService/RetrieveCPRGender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CPRServiceSoap12" type="tns:CPRServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveCPR">
      <soap12:operation soapAction="http://cpr.mbwarez.dk/CPRService/RetrieveCPR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCPRGender">
      <soap12:operation soapAction="http://cpr.mbwarez.dk/CPRService/RetrieveCPRGender" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CPRService">
    <wsdl:port name="CPRServiceSoap" binding="tns:CPRServiceSoap">
      <soap:address location="http://cpr.mbwarez.dk/CPRService.asmx" />
    </wsdl:port>
    <wsdl:port name="CPRServiceSoap12" binding="tns:CPRServiceSoap12">
      <soap12:address location="http://cpr.mbwarez.dk/CPRService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>